# Python virtual environment
venv/
__pycache__/

# PyInstaller (if you ever compile it)
build/
dist/
*.spec

# Editor/IDE specific files (e.g., VS Code)
.vscode/
*.swp # Vim swap files
*.swo # Vim swap files